
body {
    text-align: center;
    background-color: rgb(4, 2, 34);
    color:#ffffff;
}

h1 {
    font-family: 'Georgia';
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 30px #49FF18, 0 0 75px #49ff18, -20px -29px 0px rgba(59,245,234,0);
}

.game {
    position: relative;
    width: 720px;
    height: 720px;
    margin: auto;
}


.modal {
    position: absolute;
    padding: 5px; 
    padding-bottom: 10px;
    width: 235px;
    height: 100px;
    bottom: 50%;
    left: 33%;
    border: 2px solid rgb(214, 198, 198);
    
}


table {
    margin: auto;
}


.cell {
    width:40px; 
    height:40px;
    text-align: center;
}

.sky {
    background-color: rgb(25, 52, 102);
}

.ground {
    background-color: rgb(95, 77, 77);
}

.bunker {
    background-color: crimson;
}

.alien {
    text-align: center;
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
    
    25%, 75% {
    opacity: 0;
    }
    }
    
    @keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
      
  25%, 75% {
    opacity: 0;
    }
} 


.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -10px); }
    100%   { transform: translate(0, -0px); }   
}